@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Zilla Slab', sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: #3d4d80;
}

.main {
    text-shadow: 3px 3px rgba(0, 0, 0, 0.3), 0px -1px 6px rgba(255, 255, 255, 0.4);
}

div {
    position: absolute;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    font-size: 18px;
}

input {
    width: 50px;
    padding: 5px;
    font-size: 18px;
    background-color: #3d4d80;
    border: none;
    text-align: center;
}

input:focus {
    outline: none;
}